.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.card-item {
  overflow: hidden;
  border-radius: 20px;
  background-color: #11182d;
  border: #1d283a 1px solid;

  &.active {
    background-color: #1d2b50;
    border: #273968 1px solid;
    color: #fff;
  }
}

.tile.card-collection {
  .widget-title {
    i.fa-credit-card {
      color: #666;
    }
  }
}

.tile.achievements {
  .widget-title {
    i.fa-medal {
      color: #ffd700;
    }
  }
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;

  p.title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
}

.card-actions {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;

  button {
    width: 90%;
  }
}