.tile.arcade {
  background-color: #212121;
  background-image: url('/assets/arcade/bg-codebreaker.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;

  * {
    color: #eee;
  }

  .widget-body {
    display: flex;
  }

  .game-area {
    padding: 0 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
  }

  .sidebar {
    display: flex;
    align-items: start;
    flex: 1;
  }

  .user-info {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    padding: 5px 10px;
    margin-bottom: 30px;

    .avatar {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    h4, .lives, i {
      color: #000;
    }

    h4 {
      margin: 0;
      padding: 0;
    }

    .lives {
      margin-left: 20px;
    }
  }

  .letter-grid {
    margin-bottom: 10px;

    .letter-row {
      display: flex;
      flex-direction: row;
      gap: 5px;
      margin-bottom: 5px;
      .item {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        background-color: #000;
        border: #333 1px solid;
        color: #666;
        padding: 10px 25px;
        border-radius: 4px;
      }
    }
  }

  .user-input {
    position: relative;
    display: flex;
    width: 320px;

    input {
      width: 100%;
      background-color: #111;
      color: #fff;
      font-size: 30px;
      border-radius: 3px;
      border: #666 1px solid;
      padding: 5px 10px;
      text-transform: uppercase;
    }
  }
}