.user-profile-preview {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .profile-box {
    padding: 15px;
    border-radius: 3px;
    text-align: center;
  }

  .card {
    position: relative;
    margin-bottom: 30px;

    .avatar {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: #eee 4px solid;
      background-color: #666;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  h3 {
    text-align: center;
    font-weight: 800;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
    margin-bottom: 5px;
  }

  p.player-level {
    display: inline-block;
    background-color: #fff;
    border-radius: 6px;
    padding: 0;
    margin: 5px 0 0;
    overflow: hidden;

    span.level {
      display: inline-block;
      font-size: 12px;
      padding: 0 5px;
    }

    span.title {
      font-size: 12px;
      display: inline-block;
      padding: 4px 8px;
      border-radius: 6px;
      font-weight: bold;
      background-color: #666;
      color: #fff;
      margin: 0;
    }
  }

  .stats-content, .achievements-content {
    margin: 15px 0 0;
  }
}

@media (max-width: 992px) {

  .user-profile-preview {
    width: 350px;
  }
  
}

@media (max-width: 768px) {

  .user-profile-preview {
    width: 300px;
  }
  
}