nav.global {
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  background-color: #000;

  ul.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    font-size: 20px;
    margin: 5px 0 13px;

    li {
      &:last-child {
        margin-left: 30px;
      }

      a {
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2px;
        padding: 8px 13px 5px;
        border-bottom: transparent 3px solid;
        border-radius: 5px;
        transition: all 0.3s;

        &:hover {
          background-color: #666;
        }

        &.domain-link {
          text-transform: lowercase;
        }

        &.active {
          position: relative;
          background-color: #eee;
          font-weight: 800;
          color: #000;

          &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -9px;
            transform: translate(-50%);
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #eee;
          }
        }
      }
    }
  }
}