@use "sass:color";

.srs-notice {
  background-color: #e1df49;
  padding: 25px;
}

.srs-indicator {
  padding: 8px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  &.on {
    background-color: #32cd32;
  }
  &.off {
    background-color: #ff4040;
  }

  .status {
    flex: 1;
    color: #fff;
    font-weight: 600;
    font-size: 12px;    
  }
  
  .version {
    flex: 2;
    font-size: 12px;
    text-align: center;
    background-color: rgba(0,0,0,0.35);
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
  }
}

.song-search {
  display: flex;
  position: relative;
  box-sizing: border-box;

  .icon {
    position: absolute;
    font-size: 22px;
    top: 9px;
    left: 10px;
    z-index: 2;
    color: #666;
    &.on {
      color: #32cd32;
    }
    &.off {
      color: #ff4040;
    }
  }

  input.search {
    outline: none;
    position: relative;
    z-index: 1;
    width: 100%;
    font-size: 14px;
    background-color: #eee;
    border: none;
    color: #000;
    padding: 15px 10px 13px 40px;
  }
}

.song-list {
  overflow-y: auto;
  max-height: 400px;

  p {
    padding: 15px;
  }

  .song-row {
    display: flex;
    cursor: default;
    flex-direction: row;
    align-items: center;
    padding: 0;
    transition: 0.3s;
    margin-bottom: 0;
    //border-bottom: #ccc 1px dotted;

    &:hover {
      background-color: color.adjust(#39f, $lightness: 30%);
    }

    .song-info {
      padding: 5px 10px;
      flex: 2;
      .song-artist {
        font-size: 13px;
        color: #aaa;
      }
    }
    .action {
      flex: 1;
      text-align: right;
    }
  }

  button.request {
    margin-right: 15px;
    background-color: #39f;
    border-bottom-color: color.adjust(#39f, $lightness: -10%);

    &.disabled {
      background-color: #ccc;
      color: #eee;
      border-bottom-color: color.adjust(#ccc, $lightness: -10%);
      cursor: not-allowed;
    }
  }
}