.title-global {
  height: 175px;
  background-color: #369;
  display: flex;
  align-items: end;
}

.site-title {
  font-size: 40px;
  display: flex;
  align-items: center;
  
  .the {
    padding-top: 20px;
    line-height: 30px;
  }

  .mainframe-box {
    line-height: 30px;
    position: relative;
    background-color: #fff;
    color: #000;
    padding: 20px 6px 2px 0px;
    display: inline-block;
    mix-blend-mode: screen;

    .text {
      margin-left: -4px;
    }
  }
}