.title-global {
  //background: rgb(15,23,41);
  //background: linear-gradient(0deg, rgba(15,23,41,1) 0%, rgba(17,168,177,1) 100%);
  // background: #f4f4f4;
  // background: linear-gradient(0deg, #f4f4f4 0%, #369 70%);
  display: flex;
  align-items: end;
}

.global-bar {
  margin: 80px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;

  .profile-detail {
    cursor: default;
    min-width: 30%;
    max-width: 50%
  }
  
  .invite {
    width: 30%;
  }

}

.site-title {
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  
  .the {
    padding-top: 20px;
    line-height: 30px;
  }

  .mainframe-box {
    line-height: 30px;
    position: relative;
    background-color: #fff;
    color: #000;
    padding: 20px 6px 2px 0px;
    display: inline-block;
    mix-blend-mode: screen;

    .text {
      margin-left: -4px;
    }
  }
}

@media (max-width: 768px) {

  .global-bar { 
    margin: 80px 0 0;
    flex-direction: column;
    gap: 0;

    .profile-detail {
      max-width: 100%;
    }
  }

}