.tile {
  position: relative;
  background-color: #333;
  border: #666 1px solid;
  border-radius: 13px;
  padding: 15px;
  transition: all 0.5s;

  &:hover {
      background-color: #444;
  }
}

.standard-widget {
  h3.widget-title {
      margin: 0;
      font-size: 16px;
  }

  i {
      margin-right: 5px;
  }
}