@keyframes glimmer {
  0% { background-color: #2f2f2f; }
  10% { background-color: #999; }
  100% { background-color: #2f2f2f; }
}


.tile {
  position: relative;
  background-color: #222;
  border: #444 1px solid;
  border-radius: 13px;
  padding: 20px;
  margin-bottom: 25px;
  transition: all 0.5s;

  &:hover {
      background-color: #282828;
      box-shadow: 0 2px 4px 1px rgba(255, 255, 255, 0.6);
      //transform: translateY(-2px);
      transition: box-shadow 0.3s, transform 0.3s;
  }

  &.ranking {

    .grid-ranking {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        padding: 10px;
        border-radius: 10px;
        cursor: default;

        &:hover {
          animation: glimmer 0.7s 1;
          background-color: #2f2f2f;
        }

        .rank {
          display: flex;
          font-size: 18px;
          width: 8%;
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 35px;
          height: 35px;
          background-color: #1a1a1a;
          border-radius: 50%;
        }

        .player {
          display: flex;
          flex-direction: column;
          
          .data {
            margin: 0;
            font-size: 12px;
          }

          h4 {
            margin: 2px 0;

            span.level {
              display: inline-block;
              background-color: #666;
              font-weight: 300;
              font-size: 11px;
              margin-left: 5px;
              padding: 3px 6px;
              border-radius: 7px;
            }
          }
        }

      }
    }

  }

  &.ranking.top-exp {
    .widget-title {
      i.fa-trophy {
        color: #cf0;
      }
    }
  }
}

.widget-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;

  h3 {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    transform: translateY(1px);
  }
  
  i {
    margin-right: 5px;
    font-size: 20px;
  }
}