.tile {
  position: relative;
  background-color: #fff;
  //border: #1d283a 1px solid;
  //box-shadow: 0 0 5px 5px #162039;
  box-shadow: 0 5px 5px 0 #f1f1f1;
  border-radius: 2px;
  //padding: 20px;
  overflow: hidden;
}

.widget-title {

  h3 {
    color: #333;
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 50px;
    text-indent: 25px;
  }
  
  i {
    margin-right: 5px;
    font-size: 20px;
  }
}