/* VARS HERE */
$global-font-family: 'Raleway';
/* Breakpoints */
$screen-lg: 1440px;
$screen-md: 992px;
$screen-sm: 768px;

/* ANIMATIONS HERE */
@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

/* STYLES HERE */

body {
  margin: 0;
  //background-color: #131313;
  background-color: #f4f4f4;
  background-image: url('/assets/bg-main.jpg');
  background-position: 50% 0%;
  background-repeat: repeat-x;
  color: #000;
  font-family: $global-font-family, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button, a.btn {
  border: 0;
  cursor: pointer;
  background-color: #666;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px 4px;
  transition: all 0.3s;
  border-radius: 3px;
  border-bottom: #555 2px solid;

  &:hover {
    opacity: 0.7;
  }
}
a.btn {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

p:first-child {
  margin-top: 0;
}

main {
  width: 100%;
  margin: 30px 0;
  display: flex;
}

footer {
  p { 
    text-align: center;
    color: #666;
  }
}

.structure {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.card-badge {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 5px 2px;
  margin-left: 10px;
  border-radius: 4px;

  &:first-child {
    margin-left: 0;
  }

  &.oop {
    background-color: #666;
    color: #fff;
  }

  &.premium {
    background-color: #900;
    color: #fff;
  }
  &.event {
    background-color: #369;
    color: #fff;
  }
  &.rare {
    background-color: #ffd700;
    color: #333;
  }
}

.layout-row {
  display: flex;
  flex-direction: row;
  gap: 24px;

  .col-a {
    flex: 2;
  }
  .col-b {
    flex: 1;
  }
}

.layout-sub-row {
  display: flex;
  flex-direction: row;
  gap: 24px;

  .col-a, .col-b {
    flex: 1;
  }
}

.badges {
  overflow: hidden;
  margin-bottom: 7px;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /*
  .badge-item {
    padding: 3px 13px;
    font-weight: bold;
    border-radius: 5px;

    &.team-afterburner {
      padding: 1px 13px;
      font-family: 'Audiowide';
      font-weight: 400;
      background-color: #E53935;
      border-left: #212121 3px solid;
      border-right: #212121 3px solid;
      color: #fff;
    }

    &.team-concorde {
      padding: 1px 13px;
      font-family: 'Audiowide';
      font-weight: 400;
      background-color: #1E88E5;
      border-left: #eee 3px solid;
      border-right: #eee 3px solid;
      color: #fff;
    }

    &.team-stratos {
      padding: 1px 13px;
      font-family: 'Audiowide';
      font-weight: 400;
      background-color: #43A047;
      border-left: #B0BEC5 3px solid;
      border-right: #B0BEC5 3px solid;
      color: #fff;
    }

    &.mode-elite {      
      
    }
  }
  */

  
}

.user-level {
  &.level-0  { color: #999999; }
  &.level-1  { color: #0096C7; }
  &.level-2  { color: #00A5BC; }
  &.level-3  { color: #00B4B1; }
  &.level-4  { color: #00C3A6; }
  &.level-5  { color: #00D29B; }
  &.level-6  { color: #00E190; }
  &.level-7  { color: #00F085; }
  &.level-8  { color: #1AFF79; }
  &.level-9  { color: #3DFF6D; }
  &.level-10 { color: #61FF61; }
  &.level-11 { color: #81F956; }
  &.level-12 { color: #A1F34B; }
  &.level-13 { color: #C1ED40; }
  &.level-14 { color: #E1E735; }
  &.level-15 { color: #FFE02A; }
  &.level-16 { color: #FFD424; }
  &.level-17 { color: #FFC71E; }
  &.level-18 { color: #FFBB18; }
  &.level-19 { color: #FFAE12; }
  &.level-20 { color: #FFA20C; }
  &.level-21 { color: #FF9811; }
  &.level-22 { color: #FF8E17; }
  &.level-23 { color: #FF841C; }
  &.level-24 { color: #FF7A22; }
  &.level-25 { color: #FF7027; }
  &.level-26 { color: #FF662D; }
  &.level-27 { color: #FF5C32; }
  &.level-28 { color: #FF5238; }
  &.level-29 { color: #FF483D; }
  &.level-30 { color: #FF3E43; }
  &.level-31 { color: #F23A4A; }
  &.level-32 { color: #E63652; }
  &.level-33 { color: #D93159; }
  &.level-34 { color: #CD2D61; }
  &.level-35 { color: #C02968; }
  &.level-36 { color: #B42570; }
  &.level-37 { color: #A72077; }
  &.level-38 { color: #9B1C7F; }
  &.level-39 { color: #8E1886; }
  &.level-40 { color: #82148E; }
  &.level-41 { color: #711B96; }
  &.level-42 { color: #60229E; }
  &.level-43 { color: #5029A6; }
  &.level-44 { color: #3F30AE; }
  &.level-45 { color: #2F37B6; }
  &.level-46 { color: #1E3EBE; }
  &.level-47 { color: #0E45C6; }
  &.level-48 { color: #003CCE; }
  &.level-49 { color: #0028C6; }
  &.level-50 { color: #0015BE; }
}

.user-level-bg {
  &.level-0  { background-color: #cccccc; }
  &.level-1  { background-color: #0096C7; }
  &.level-2  { background-color: #00A5BC; }
  &.level-3  { background-color: #00B4B1; }
  &.level-4  { background-color: #00C3A6; }
  &.level-5  { background-color: #00D29B; }
  &.level-6  { background-color: #00E190; }
  &.level-7  { background-color: #00F085; }
  &.level-8  { background-color: #1AFF79; }
  &.level-9  { background-color: #3DFF6D; }
  &.level-10 { background-color: #61FF61; }
  &.level-11 { background-color: #81F956; }
  &.level-12 { background-color: #A1F34B; }
  &.level-13 { background-color: #C1ED40; }
  &.level-14 { background-color: #E1E735; }
  &.level-15 { background-color: #FFE02A; }
  &.level-16 { background-color: #FFD424; }
  &.level-17 { background-color: #FFC71E; }
  &.level-18 { background-color: #FFBB18; }
  &.level-19 { background-color: #FFAE12; }
  &.level-20 { background-color: #FFA20C; }
  &.level-21 { background-color: #FF9811; }
  &.level-22 { background-color: #FF8E17; }
  &.level-23 { background-color: #FF841C; }
  &.level-24 { background-color: #FF7A22; }
  &.level-25 { background-color: #FF7027; }
  &.level-26 { background-color: #FF662D; }
  &.level-27 { background-color: #FF5C32; }
  &.level-28 { background-color: #FF5238; }
  &.level-29 { background-color: #FF483D; }
  &.level-30 { background-color: #FF3E43; }
  &.level-31 { background-color: #F23A4A; }
  &.level-32 { background-color: #E63652; }
  &.level-33 { background-color: #D93159; }
  &.level-34 { background-color: #CD2D61; }
  &.level-35 { background-color: #C02968; }
  &.level-36 { background-color: #B42570; }
  &.level-37 { background-color: #A72077; }
  &.level-38 { background-color: #9B1C7F; }
  &.level-39 { background-color: #8E1886; }
  &.level-40 { background-color: #82148E; }
  &.level-41 { background-color: #711B96; }
  &.level-42 { background-color: #60229E; }
  &.level-43 { background-color: #5029A6; }
  &.level-44 { background-color: #3F30AE; }
  &.level-45 { background-color: #2F37B6; }
  &.level-46 { background-color: #1E3EBE; }
  &.level-47 { background-color: #0E45C6; }
  &.level-48 { background-color: #003CCE; }
  &.level-49 { background-color: #0028C6; }
  &.level-50 { background-color: #0015BE; }
}


@media (min-width: $screen-lg) {
  .structure {
    max-width: 1200px;
  }
}

@media (max-width: $screen-lg) {

  .layout-sub-row {
    flex-direction: column;
  }

}

@media (max-width: $screen-md) {

  .structure {
    max-width: 100%;
    margin: 0 20px;
  }

  .layout-row {
    .col-a {
      flex: 2;
    }
    .col-b {
      flex: 1;
    }
  }

}

@media (max-width: $screen-sm) {

  .structure {
    max-width: 100%;
    margin: 0 20px;
  }

  .layout-row {
    flex-direction: column;
  }

}

// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }
