/* VARS HERE */
$global-font-family: 'Raleway';
/* Breakpoints */
$screen-lg: 1440px;
$screen-md: 992px;
$screen-sm: 768px;

/* STYLES HERE */

body {
  margin: 0;
  background-color: #131313;
  color: #fff;
  font-family: $global-font-family, sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  background-color: #666;
  text-transform: uppercase;
  color: #ccc;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 1px;
  padding: 8px 15px 7px;
  transition: all 0.3s;
  border-radius: 5px;

  &:hover {
    background-color: #ccc;
    color: #333;
  }
}

img {
  max-width: 100%;
  height: auto;
}

main {
  width: 100%;
  margin: 30px 0;
  display: flex;
}

.structure {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.card-badge {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 5px 2px;
  margin-left: 10px;
  border-radius: 4px;

  &.premium {
    background-color: #900;
    color: #fff;
  }
  &.rare {
    background-color: #ffd700;
    color: #333;
  }
}

.layout-row {
  display: flex;
  flex-direction: row;
  gap: 24px;

  .col-a {
    flex: 2;
  }
  .col-b {
    flex: 1;
  }
}

.layout-sub-row {
  display: flex;
  flex-direction: row;
  gap: 24px;

  .col-a, .col-b {
    flex: 1;
  }
}

.user-level {
  &.level-1 { color: #00ffff; }
  &.level-2 { color: #00fdf0; }
  &.level-3 { color: #00fbe0; }
  &.level-4 { color: #00f9d1; }
  &.level-5 { color: #00f7c2; }
  &.level-6 { color: #00f5b3; }
  &.level-7 { color: #00f3a3; }
  &.level-8 { color: #00f194; }
  &.level-9 { color: #00ef85; }
  &.level-10 { color: #00ed75; }
  &.level-11 { color: #00eb66; }
  &.level-12 { color: #00e957; }
  &.level-13 { color: #00e748; }
  &.level-14 { color: #00e538; }
  &.level-15 { color: #00e329; }
  &.level-16 { color: #00e11a; }
  &.level-17 { color: #00df0a; }
  &.level-18 { color: #02dd00; }
  &.level-19 { color: #12e000; }
  &.level-20 { color: #22e500; }
  &.level-21 { color: #34e800; }
  &.level-22 { color: #46eb00; }
  &.level-23 { color: #58ee00; }
  &.level-24 { color: #6af100; }
  &.level-25 { color: #7cf400; }
  &.level-26 { color: #8ef700; }
  &.level-27 { color: #a0fa00; }
  &.level-28 { color: #b3fc00; }
  &.level-29 { color: #c5ff00; }
  &.level-30 { color: #d7ff00; }
  &.level-31 { color: #e4fb00; }
  &.level-32 { color: #f0f700; }
  &.level-33 { color: #fcd400; }
  &.level-34 { color: #f8b000; }
  &.level-35 { color: #f48d00; }
  &.level-36 { color: #f06900; }
  &.level-37 { color: #ec4600; }
  &.level-38 { color: #e82200; }
  &.level-39 { color: #e40000; }
  &.level-40 { color: #e00012; }
  &.level-41 { color: #dc0023; }
  &.level-42 { color: #d80034; }
  &.level-43 { color: #d40045; }
  &.level-44 { color: #d00056; }
  &.level-45 { color: #cc0067; }
  &.level-46 { color: #c80078; }
  &.level-47 { color: #c40089; }
  &.level-48 { color: #c0009a; }
  &.level-49 { color: #bc00ab; }
  &.level-50 { color: #b800bc; }
}

.user-level-bg {
  &.level-1 { background-color: #00ffff; }
  &.level-2 { background-color: #00fdf0; }
  &.level-3 { background-color: #00fbe0; }
  &.level-4 { background-color: #00f9d1; }
  &.level-5 { background-color: #00f7c2; }
  &.level-6 { background-color: #00f5b3; }
  &.level-7 { background-color: #00f3a3; }
  &.level-8 { background-color: #00f194; }
  &.level-9 { background-color: #00ef85; }
  &.level-10 { background-color: #00ed75; }
  &.level-11 { background-color: #00eb66; }
  &.level-12 { background-color: #00e957; }
  &.level-13 { background-color: #00e748; }
  &.level-14 { background-color: #00e538; }
  &.level-15 { background-color: #00e329; }
  &.level-16 { background-color: #00e11a; }
  &.level-17 { background-color: #00df0a; }
  &.level-18 { background-color: #02dd00; }
  &.level-19 { background-color: #12e000; }
  &.level-20 { background-color: #22e500; }
  &.level-21 { background-color: #34e800; }
  &.level-22 { background-color: #46eb00; }
  &.level-23 { background-color: #58ee00; }
  &.level-24 { background-color: #6af100; }
  &.level-25 { background-color: #7cf400; }
  &.level-26 { background-color: #8ef700; }
  &.level-27 { background-color: #a0fa00; }
  &.level-28 { background-color: #b3fc00; }
  &.level-29 { background-color: #c5ff00; }
  &.level-30 { background-color: #d7ff00; }
  &.level-31 { background-color: #e4fb00; }
  &.level-32 { background-color: #f0f700; }
  &.level-33 { background-color: #fcd400; }
  &.level-34 { background-color: #f8b000; }
  &.level-35 { background-color: #f48d00; }
  &.level-36 { background-color: #f06900; }
  &.level-37 { background-color: #ec4600; }
  &.level-38 { background-color: #e82200; }
  &.level-39 { background-color: #e40000; }
  &.level-40 { background-color: #e00012; }
  &.level-41 { background-color: #dc0023; }
  &.level-42 { background-color: #d80034; }
  &.level-43 { background-color: #d40045; }
  &.level-44 { background-color: #d00056; }
  &.level-45 { background-color: #cc0067; }
  &.level-46 { background-color: #c80078; }
  &.level-47 { background-color: #c40089; }
  &.level-48 { background-color: #c0009a; }
  &.level-49 { background-color: #bc00ab; }
  &.level-50 { background-color: #b800bc; }
}


@media (min-width: $screen-lg) {
  .structure {
    max-width: 1200px;
  }
}

@media (max-width: $screen-lg) {

  .layout-sub-row {
    flex-direction: column;
  }

}

@media (max-width: $screen-md) {

  .structure {
    max-width: 100%;
    margin: 0 20px;
  }

  .layout-row {
    .col-a, .col-b {
      flex: 1;
    }
  }

}

@media (max-width: $screen-sm) {

  .structure {
    max-width: 100%;
    margin: 0 20px;
  }

  .layout-row {
    flex-direction: column;
  }

}

// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }
